# Reboot - SQL Advanced

Tonight, we will use the Blog SQLite database:

In [0]:
!tree

## 1. Schema ERD

‚ùì Open the `data/blog.sqlite` in DBeaver, explore the schema and draw it on [kitt.lewagon.com/db](https://kitt.lewagon.com/db).

_TODO: Double click this cell and **paste** a screenshot of the schema for future reference_.

---
## 2. Most liked posts

Complete the code to get **the 3 most liked posts**:

In [3]:
import sqlite3

conn = sqlite3.connect("data/blog.sqlite")
c = conn.cursor()

# TODO: write the query
query = """
SELECT l.post_id, COUNT(DISTINCT l.id) as num_likes
FROM likes l 
JOIN posts p 
ON l.post_id = p.id
GROUP BY l.post_id
ORDER BY num_likes DESC
LIMIT 3
"""

# TODO: Execute the query
c.execute(query)
c.fetchall()
# TODO: Fetch and print the results

[(143, 84), (83, 82), (99, 81)]

---

### Pretty Print using _pandas_

The readbility of our `print()` statements is not so good.

Next week, we will introduce [pandas](https://pandas.pydata.org/) which will vastly improve the UX of our data exploration in Notebooks.

Execute the following cell to load `pandas` library:

In [4]:
import pandas as pd

Then try the previous `query` again, delegating the job of fetching results + displaying them to the `read_sql_query` function of `pandas`:

In [5]:
pd.read_sql_query(query, conn)

   post_id  num_likes
0      143         84
1       83         82
2       99         81

---
## 3. Find the three users who 'liked' the most

In [8]:
query = """
SELECT l.user_id, COUNT(DISTINCT l.id) as num_likes
from likes l 
GROUP by l.user_id
ORDER BY num_likes DESC
LIMIT 10
"""

pd.read_sql_query(query, conn)

   user_id  num_likes
0       43        236
1       12        233
2       15        227
3       44        227
4       29        225
5       48        220
6       40        219
7       46        218
8       45        216
9       18        215

---
## 4. Find the most liked author

In [11]:
query = """
SELECT likes l, COUNT(DISTINCT l.id) AS num_likes
JOIN posts p 
JOIN likes l 
on l.posts_id = p.id
GROUP BY p.user_id
ORDER BY num_likes DESC
LIMIT 1
"""

pd.read_sql_query(query, conn)

DatabaseError: Execution failed on sql '
SELECT likes l, COUNT(DISTINCT l.id) AS num_likes
JOIN posts p
JOIN likes l
on l.posts_id = p.id
GROUP BY p.user_id
ORDER BY num_likes DESC
LIMIT 1
': near "JOIN": syntax error

---
## 5. Who are the authors of the 3 most liked posts?

In [0]:
query = """
SELECT u.first_name,COUNT(DISTINCT l.id) AS num_likes
JOIN likes l 
JOIN posts p 
ON l.posts_id = p.id
JOIN users u
ON u.id = l.user_id
GROUP BY l.post_id
ORDER BY num_likes DESC
LIMIT 3
"""

pd.read_sql_query(query, conn)

---
## 6. How many people liked at least one post?

In [0]:
query = """

"""

pd.read_sql_query(query, conn)

---
## 7. Compute the cumulative number of likes per day

In [0]:
query = """

"""

pd.read_sql_query(query, conn)

---
## 8. (Optional) Who's the biggest fan of each author?

The biggest fan of an author is defined as the user who liked the most the author's posts.
<br><br>
<details>
    <summary>üí° Click for Hint</summary>
    You might need to use <code>WITH</code>
</details>

In [0]:
query = """

"""

pd.read_sql_query(query, conn)