# Ham or Spam?

In [14]:
# when installing nltk for the first time we need to also download a few built in libraries
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

Requirement already satisfied: nltk in /Users/selmalopez/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages (3.6.5)
Requirement already satisfied: click in /Users/selmalopez/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages (from nltk) (8.0.1)
Requirement already satisfied: tqdm in /Users/selmalopez/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages (from nltk) (4.62.3)
Requirement already satisfied: joblib in /Users/selmalopez/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex>=2021.8.3 in /Users/selmalopez/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages (from nltk) (2021.11.2)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/selmalopez/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/selmalopez/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/selmalopez/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [74]:
import pandas as pd

df = pd.read_csv("emails.csv")

df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

## Remove Punctuation

üëá Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [16]:
import string 

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [30]:
text

0       Subject: naturally irresistible your corporate...
1       Subject: the stock trading gunslinger  fanny i...
2       Subject: unbelievable new homes made easy  im ...
3       Subject: 4 color printing special  request add...
4       Subject: do not have money , get software cds ...
                              ...
5723    Subject: re : research and development charges...
5724    Subject: re : receipts from visit  jim ,  than...
5725    Subject: re : enron case study update  wow ! a...
5726    Subject: re : interest  david ,  please , call...
5727    Subject: news : aurora 5 . 2 update  aurora ve...
Name: text, Length: 5728, dtype: object

In [27]:
def fun(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '') 
    return text
text

0       Subject: naturally irresistible your corporate...
1       Subject: the stock trading gunslinger  fanny i...
2       Subject: unbelievable new homes made easy  im ...
3       Subject: 4 color printing special  request add...
4       Subject: do not have money , get software cds ...
                              ...
5723    Subject: re : research and development charges...
5724    Subject: re : receipts from visit  jim ,  than...
5725    Subject: re : enron case study update  wow ! a...
5726    Subject: re : interest  david ,  please , call...
5727    Subject: news : aurora 5 . 2 update  aurora ve...
Name: text, Length: 5728, dtype: object

In [75]:
df['clean text'] = df['text'].apply(fun)
df['clean text']
#on applique la fonction sur notre df text

0       Subject naturally irresistible your corporate ...
1       Subject the stock trading gunslinger  fanny is...
2       Subject unbelievable new homes made easy  im w...
3       Subject 4 color printing special  request addi...
4       Subject do not have money  get software cds fr...
                              ...
5723    Subject re  research and development charges t...
5724    Subject re  receipts from visit  jim   thanks ...
5725    Subject re  enron case study update  wow  all ...
5726    Subject re  interest  david   please  call shi...
5727    Subject news  aurora 5  2 update  aurora versi...
Name: clean text, Length: 5728, dtype: object

## Lower Case

üëá Create a function to lower case the text. Apply it to `clean_text`

In [67]:
def remove_low(text):
    return text.lower()

In [76]:
df['clean text'] = df['clean text'].apply(remove_low)
df['clean text']

0       subject naturally irresistible your corporate ...
1       subject the stock trading gunslinger  fanny is...
2       subject unbelievable new homes made easy  im w...
3       subject 4 color printing special  request addi...
4       subject do not have money  get software cds fr...
                              ...
5723    subject re  research and development charges t...
5724    subject re  receipts from visit  jim   thanks ...
5725    subject re  enron case study update  wow  all ...
5726    subject re  interest  david   please  call shi...
5727    subject news  aurora 5  2 update  aurora versi...
Name: clean text, Length: 5728, dtype: object

## Remove Numbers

üëá Create a function to remove numbers from the text. Apply it to `clean_text`

In [69]:
def remove_numbers(text):
    return ''.join(word for word in text if not word.isdigit())

In [77]:
df['clean text'] = df['clean text'].apply(remove_numbers)
df['clean text']

0       subject naturally irresistible your corporate ...
1       subject the stock trading gunslinger  fanny is...
2       subject unbelievable new homes made easy  im w...
3       subject  color printing special  request addit...
4       subject do not have money  get software cds fr...
                              ...
5723    subject re  research and development charges t...
5724    subject re  receipts from visit  jim   thanks ...
5725    subject re  enron case study update  wow  all ...
5726    subject re  interest  david   please  call shi...
5727    subject news  aurora    update  aurora version...
Name: clean text, Length: 5728, dtype: object

## Remove StopWords

üëá Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [39]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [83]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english')) 
    word_tokens = word_tokenize(text) 
    return ' '.join(w for w in word_tokens if not w in stop_words)

In [85]:
df['clean text'] = df['clean text'].apply(remove_stopwords)

## Lemmatize

üëá Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [86]:
from nltk.stem import WordNetLemmatizer

In [100]:
def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    word_tokens = word_tokenize(text) 
    lemmatized = ' '.join(lemmatizer.lemmatize(word) for word in word_tokens)
    return lemmatized

In [101]:
df['clean text'].apply(lemmatize_text)

0       subject naturally irresistible corporate ident...
1       subject stock trading gunslinger fanny merrill...
2       subject unbelievable new home made easy im wan...
3       subject color printing special request additio...
4       subject money get software cd software compati...
                              ...
5723    subject research development charge gpg forwar...
5724    subject receipt visit jim thanks invitation vi...
5725    subject enron case study update wow day super ...
5726    subject interest david please call shirley cre...
5727    subject news aurora update aurora version fast...
Name: clean text, Length: 5728, dtype: object

## Bag-of-words Modelling

In [102]:
df['clean text']

0       subject naturally irresistible corporate ident...
1       subject stock trading gunslinger fanny merrill...
2       subject unbelievable new homes made easy im wa...
3       subject color printing special request additio...
4       subject money get software cds software compat...
                              ...
5723    subject research development charges gpg forwa...
5724    subject receipts visit jim thanks invitation v...
5725    subject enron case study update wow day super ...
5726    subject interest david please call shirley cre...
5727    subject news aurora update aurora version fast...
Name: clean text, Length: 5728, dtype: object

üëá Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [103]:
from sklearn.feature_extraction.text import CountVectorizer

In [106]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['clean text'])
X

<5728x33570 sparse matrix of type '<class 'numpy.int64'>'
	with 502490 stored elements in Compressed Sparse Row format>

In [107]:
df

,text,spam,clean text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible corporate ident...
1,Subject: the stock trading gunslinger fanny i...,1,subject stock trading gunslinger fanny merrill...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im wa...
3,Subject: 4 color printing special request add...,1,subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",1,subject money get software cds software compat...
...,...,...,...
5723,Subject: re : research and development charges...,0,subject research development charges gpg forwa...
5724,"Subject: re : receipts from visit jim , than...",0,subject receipts visit jim thanks invitation v...
5725,Subject: re : enron case study update wow ! a...,0,subject enron case study update wow day super ...
5726,"Subject: re : interest david , please , call...",0,subject interest david please call shirley cre...
5727,Subject: news : aurora 5 . 2 update aurora ve...,0,subject news aurora update aurora version fast...

üëá Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [109]:
from sklearn.model_selection import cross_validate
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
cv_results = cross_validate(model ,X=X, y =df['spam'], cv=5, n_jobs=-1)

In [111]:
cv_results

{'fit_time': array([0.0303719 , 0.03087497, 0.03992486, 0.032758  , 0.01423788]),
 'score_time': array([0.00821304, 0.00683999, 0.00630999, 0.00671005, 0.002913  ]),
 'test_score': array([0.9886562 , 0.9895288 , 0.9921466 , 0.98951965, 0.99213974])}

In [ ]:
cv_results['test_score']

‚ö†Ô∏è Please push the exercise once you are done üôÉ

## üèÅ